html {
   box-sizing: border-box;
   font-size: 100%;
}

body {
  font-family: Epilogue, Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: hsl(300, 0%, 65%);
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.7;
 
}
.wrapper {
  max-inline-size: 1400px;
  margin-inline: auto;
}

header {
  color: hsl(292, 93%, 90%);
  padding-inline: 15px;
  padding-block: 0 15px;
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  text-align: center;
  
 
   @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    padding-block: 0;
    }
  
}

img {
  display: block;
}

.profile-logo {
  display: flex;
  width: 100%;
  gap: 20px;
  font-family: Aboreto;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  
  @media (width > 900px) {
    justify-content: start;
    }
 
  
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
 
}

h1 {
  font-size: 4rem;
  font-family: aboreto;
  color: hsl(292, 93%, 90%);
}

h2 {
  font-family: aboreto;
  color: white;
  
}

h3 {
  color: white;
  font-weight: 400;
}

button {
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
}

.hero-section {
  text-align: center;
  line-height: 1;
  padding-block: 100px;
  
}

a {
  text-decoration: none;
  color: hsl(292, 93%, 90%);
}

a:hover,
a:focus-visible {
  color: hsl(292, 93%, 50%);
}

a:active {
  opacity: 50%;
}

.three-column-layout {
  display: grid;
  gap: 50px;
  
  @media (width > 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 100px;
  }
  
}
.column {
  border-radius: 25px;
  box-shadow: 5px -5px 15px hsl(292, 93%, 20%);
  padding: 20px;
 
}
.column-section {
  padding-bottom: 30px;
}

.review-section {
  margin-inline: 20px;
  margin-block-end: 50px;
}

.review-column-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-block-start: 50px;
}

.review-card {
  background-image: linear-gradient(hsl(292, 93%, 10%),hsl(292, 93%, 3%));
  border-radius: 25px;
  max-width: 300px;
  /*box-shadow: 5px -5px 15px hsl(292, 93%, 20%);*/
  padding: 20px;
}

.quote {
  color: white;
  
}

.quote-name {
  font-size: 1.3rem;
  text-align: end;
  line-height: 1;
}
.quote-title {
  font-style: italic;
  text-align: end;
  line-height: 1;
}

footer {
  color: hsl(292, 93%, 90%);
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}