html {
   box-sizing: border-box;
   font-size: 100%;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: Epilogue, Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(0, 0%, 3%);
  color: hsl(300, 0%, 75%);
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.7;

  @media (prefers-color-scheme: light) {
    background-color:  hsl(292, 93%, 95%);
    color:hsl(300, 0%, 25%);
  }
}
.wrapper {
  max-inline-size: 1400px;
  margin-inline: auto;
}

header {
  color: hsl(292, 93%, 90%);
  padding-inline: 1rem;
  padding-block: 0 1rem;
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  text-align: center;
  
  
 
   @media (width > 900px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0;
    }
  
  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(hsl(292, 93%, 90%), hsl(292, 93%, 80%));
    color: hsl(292, 93%, 10%);
    box-shadow: 0px 1px 15px hsl(300, 0%, 50%);
      }
}

img {
  display: block;
}

h1 {
  font-size: 3.5rem;
  font-family: aboreto;
  color: hsl(292, 93%, 90%);
  text-align: start;
  margin-inline: 3.12rem;

  @media (prefers-color-scheme: light) {
    color: hsl(292, 93%, 25%);
  }
}

.centred-title {
  text-align: center;
}

h2 {
  font-family: aboreto;
  color: white; 
  
   @media (prefers-color-scheme: light) {
    color: hsl(292, 93%, 25%);
  }
}

h3 {
  color: white;
  font-weight: 400;

  @media (prefers-color-scheme: light) {
    color: hsl(0, 0%, 3%);
  }
}

footer {
  color: hsl(292, 93%, 90%);
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(hsl(292, 93%, 80%), hsl(292, 93%, 90%));
    color: hsl(292, 93%, 10%);
    border: 1px solid hsl(292, 93%, 60%);
  }
}

a {
  text-decoration: none;
  color: hsl(292, 93%, 90%);

  @media (prefers-color-scheme: light) {
    color: hsl(292, 93%, 10%);
  }
}

a:hover,
a:focus-visible {
  color: hsl(292, 93%, 50%);

  @media (prefers-color-scheme: light) {
    color: hsl(292, 93%, 35%);
  }
}

a:active {
  opacity: 50%;
}

button {
  background-image: linear-gradient(hsl(292, 93%, 35%),hsl(292, 93%, 10%));
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  color: hsl(292, 93%, 90%);

  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(hsl(292, 93%, 90%), hsl(292, 93%, 80%));
    color: hsl(292, 93%, 10%);
  }
}

button:hover,
button:focus-visible {
  color: hsl(292, 93%, 50%);
}


/*Header*/

.profile-logo {
  display: flex;
  width: 100%;
  gap: 1.25rem;
  font-family: Aboreto;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  
  @media (width > 900px) {
    justify-content: start;
    }
}

nav {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

/*Hero section*/

.main-title {
  font-size: 4rem;
  font-family: aboreto;
  
}

.hero-section {
  line-height: 1;
  padding-block: 6.25rem;
  text-align: center;
}

.three-column-layout {
  display: grid;
  gap: 3.12rem;
  margin-inline: 3.12rem;
  
  @media (width > 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-end: 6.25rem;
  }
  
}
.column {
  border-radius: 25px;
  box-shadow: 5px -5px 15px hsl(292, 93%, 20%);
  padding: 1.25rem;
  background-image: linear-gradient( hsl(0, 0%, 3%),hsl(292, 93%, 3%));

  @media (prefers-color-scheme: light) {
   /*background-image: linear-gradient(hsl(292, 93%, 95%), hsl(292, 93%, 90%));*/
   background:  hsl(292, 93%, 95%);
   box-shadow: 5px 5px 15px hsl(300, 0%, 70%);
  }
 
}
.column-section {
  padding-bottom: 30px;
}

/*Review Section*/

.review-section {
  margin-inline: 1.25rem;
  margin-block-end: 3.12rem;
  text-align: center;
}

.review-column-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.12rem;
  margin-block-start: 3.12rem;
}

.review-card {
  background-image: linear-gradient(hsl(292, 93%, 10%),hsl(292, 93%, 3%));
  border-radius: 25px;
  border: 2px solid hsl(292, 93%, 15%);
  max-width: 300px;
  padding: 1.25rem;

   @media (prefers-color-scheme: light) {
    color: hsl(0, 0%, 3%);
    background: hsl(292, 93%, 90%);
    border: none; 
  }
}


.quote {
  color: white;

  @media (prefers-color-scheme: light) {
    color: hsl(0, 0%, 3%);
  }
}

.quote-name {
  font-size: 1.3rem;
  text-align: end;
  line-height: 1;
}
.quote-title {
  font-style: italic;
  text-align: end;
  line-height: 1;
}

/*Two column layout pages*/

.two-column-layout {
  display: grid;
  gap: 3.12rem;
  margin-inline: 3.12rem;
  
  @media (width > 900px) {
    grid-template-columns: 1fr 1fr;
    margin-block-end: 6.25rem;
  }
}

/*Contact page*/


.centered-title {
  text-align: center;
}

.contact-links {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}

.contact-form {
  text-align: center; 
}

form {
  display: inline-block;
  padding: 1.25rem;
  background-image: linear-gradient(hsl(292, 93%, 10%),hsl(292, 93%, 3%));
  border-radius: 25px;
  border: 2px solid hsl(292, 93%, 15%);
  text-align: end;
  margin-block: 5rem;

  @media (prefers-color-scheme: light) {
   background: hsl(292, 93%, 95%);
   box-shadow: 5px 5px 15px hsl(300, 0%, 70%);
   border: none;
  }
}

label {
  display:inline-block;
  min-width: 4rem;
}

input,
textarea {
  width: 300px;
  height: 2rem;
  border: 2px solid hsl(292, 93%, 15%);
  background-color: hsl(0, 0%, 3%);
  font-size: 1.2rem;
  color: hsl(300, 0%, 75%);

  @media (prefers-color-scheme: light) {
    background: hsl(292, 93%, 95%);
    color: hsl(0, 0%, 3%);
  }
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: hsl(292, 93%, 90%);

  @media (prefers-color-scheme: light) {
    outline-color:hsl(292, 93%, 50%);
  }
}

textarea {
  vertical-align: top;
  height: 5rem;
}
  